{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block body %}
<div class="container">
    <h1>Редактирование</h1>
    <form  method=post enctype=multipart/form-data class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-2  g-2">
            <div>
                <p><img src="{{ url_for('gift_list.send_file' , filename=gift.image_path) }}" alt="" width="60%"></p>
            </div>
            <div>
                <p>
                    <input type=file name=file  class="form-control"><br>
                    <textarea  name="name" id="name" placeholder="Название" class="form-control">{{gift.name}}</textarea>  <br>
                    <textarea  name="price" id="price" placeholder="Стоиость" class="form-control">{{gift.price}}</textarea><br>
                    <textarea  name="url" id="url" placeholder="Ссылка на товар"class="form-control">{{gift.url}}</textarea><br>
                    <input type=submit value=Обновить class="btn btn-success">
                </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}